* {
    margin: 0;
}

body {
    background-color: var(--bgColor);
    font-family: "Poppins";
}

h3 {
    text-align: center;
    font-size: var(--hThreeSize);
    margin-top: auto;
}

/* card grid */
.grid-card {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 300px));
    margin: 100% 10%;
}

/* card */
.card {
    position: relative;
    border-radius: 100%;
    overflow: hidden;
    width: 300px;
    height: 300px;
}

.cardTitle {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    padding-top: 10px;
    background-color: var(--blockColorPrimaryTransparency);
    color: var(--titleColorTransparency);
}

/* hover card */
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.card:hover .image {
    opacity: 0.3;
}
  
.card:hover .middle {
    opacity: 1;
}
  
.text {
    background-color: var(--titleColorTransparency);
    color: var(--blockColorPrimaryTransparency);
    font-size: 16px;
    padding: 16px 32px;
}