* {
  margin: 0;
}

header {
  font-family: "Poppins";
  padding: 0;
  background-color: var(--blockColorPrimary);
  border-bottom: 2px solid var(--blockColorSecondary);
  color: var(--titleColor);
  display: flex;
  align-items: center;
}

header nav {
  z-index: 2;
  position: fixed;
  background-color: var(--blockColorPrimary);
  height: 100%;
  min-width: 40%;
  padding: 1rem;
  transition: 0.6s;
  top: 72px;
  left: -600px;
  border-top: 2px solid var(--blockColorSecondary);
  border-right: 2px solid var(--blockColorSecondary);
}

header #menuBurger {
  font-size: var(--hOneSize);
  text-align: center;
  user-select: none;
  padding: 1rem;
  z-index: 3;
}

header span:hover {
  cursor: pointer;
}

.logo img {
  padding-left: 1rem;
}

header nav ul {
  display: flex;
  flex-direction: column;
  padding: 0;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  color: var(--titleColor);
  text-decoration: none;
  font-size: var(--hOneSize);
}

header nav ul li a:hover {
  color: white;
}

@media screen and (min-width: 1024px) {
  header {
    display: flex;
  }

  .logo {
    padding-top: 0;
    align-self: center;
  }

  header #menuBurger {
    visibility: hidden;
    position: fixed;
  }

  header nav {
    position: static;
    align-self: flex-end;
    width: 100%;
    border-top: none;
  }

  header nav ul {
    flex-direction: row;
    justify-content: flex-end;
  }
  header nav ul li {
    padding-right: 2rem;
  }
}
