@import "./styles.css";
@import "./timeline.css";

* {
  margin: 0;
}

.boite1 {
  text-align: center;
  color: var(--titleColor);
  background: var(--blockColorPrimaryTransparency);
  /*border-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px; */
  padding: 15px;
}

.boite2 {
  text-align: center;
  color: var(--titleColor);
  background: var(--blockColorPrimaryTransparency);
  /*border-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;*/
  padding: 15px;
}

.boite3 {
  text-align: center;
  color: var(--titleColor);
  background: var(--blockColorPrimaryTransparency);
  /*    border-radius: 15px;  
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;*/
  padding: 15px;
}

.boite1,
.boite2,
.boite3 {
  border-bottom: 1px solid var(--blockColorSecondary);
}

h2 {
  text-align: center;
  color: var(--titleColor);
}

body {
  background-color: var(--bgColor);
  font-family: "Poppins";
}

.chocolaterie {
  display: flex;
  flex-direction: column;
  background-color: var(--bgColor);
}

.equipe {
  display: flex;
  flex-direction: column;
}

.fournisseurs {
  display: flex;
  flex-direction: column;
}

.crewBox {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  overflow: hidden;
  background-color: #aaa;
}

.crewBox img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.crewBox h2 {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
  padding-top: 10px;
  background-color: var(--blockColorPrimaryTransparency);
  text-align: center;
  color: var(--titleColorTransparency);
}

@media screen and (min-width: 1024px) {
  main {
    padding: 3rem;
  }

  .container {
    max-width: 100%;
    display: grid;
    grid-template-columns: 33% 66%;
    grid-template-areas: "timeline crew" "timeline suppliers" "timeline empty";
    gap: 3rem;
  }

  .chocolaterie {
    grid-area: timeline;
  }

  .equipe {
    grid-area: crew;
  }

  #crewGrid {
    padding: 1rem 0;
    flex-direction: row;
    display: flex;
    gap: 1rem;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
  }

  .fournisseurs {
    grid-area: suppliers;
    display: block;
  }

  .fournisseurs img {
    width: 95%;
    height: 370px;
  }

  .chocolaterie,
  .equipe,
  .fournisseurs {
    border: 1px solid var(--blockColorSecondary);
    box-shadow: -2px 5px 10px var(--blockColorSecondary);
    border-radius: 15px;
  }

  .boite1,
  .boite2,
  .boite3 {
    border-radius: 14px 14px 0 0;
  }

  .crewBox {
    height: 200px;
    width: 200px;
  }

  .fournisseurs {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1rem;
    grid-template-areas: "mainTitle mainTitle" "titre1 titre2" "img1 img2" "p1 p2";
  }

  #plantationTitle {
    grid-area: titre1;
  }

  .boite3 {
    grid-area: mainTitle;
  }

  #farmTitle {
    grid-area: titre2;
  }

  #plantationImg {
    grid-area: img1;
  }

  #farmImg {
    grid-area: img2;
  }

  #plantationText {
    grid-area: p1;
  }

  #farmText {
    grid-area: p2;
  }
}
